.storyContainer {
  width: 100%;
  position: relative;
  transition: 1s;
  &:after {
    width: 100%;
    // background: url(../images/wave-yellow.png);
    background: url(../images/wave-yellow-new.png);
    content: "";
    height: 44px;
    position: absolute;
    bottom: -44px;
    left: 0;
    background-repeat: repeat-x;
    // background-color: blue;
    @media screen and (min-width: 1400px) {
      background-repeat: round;
    }
  }


  .waveDiv {
    width: 100%;
  }
  .bgContainer {
    height: 715px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    // &:after {
      .before{
      background: url(../images/wave-green.png);
      content: "";
      height: 45px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
     // background-repeat: repeat-x;
    //  margin-top: -20px;
      background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
      @media screen and (min-width: 1400px) {
      //  background-repeat: round;
      }
    }

    // &:after {
      .after{
      width: 100%;
      background: url(../images/wave-white.png);
      content: "";
      height: 44px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size:cover;
      background-position:top;
      @media screen and (min-width: 1400px) {
        // background-repeat: round;
      }
    }
    @media screen and (max-width: $break-large) {
      height: 722px;
    }

    @media screen and (max-width: $phone) {
      height: 422px;
    }

    @media screen and (max-width: 500px) {
      height: 372px;
    }

    .stickerDiv {
      // width: 406px;
      // height: 406px;
      width: 480px;
      height: 380px;
      @media screen and (max-width: $break-large) {
        width: 350px;
        height: 350px;
      }

      @media screen and (max-width: $phone) {
        width: 200px;
        height: 200px;
      }
      @media screen and (max-width: 500px) {
        width: 150px;
        height: 150px;
      }
      img {
        width: 100%;
      }
    }
 
  }
  
  .storyDiv {
   
  }
}
.nudge {
  transform: translateY(40px);
  // transition: transform 1s;
}
